<div class="main-chat-area">
    <div class="chat-header">
      <h2>John Doe {{selectedUsers.userName}}</h2>
      <div class="call-buttons">
        <button mat-icon-button  class="btn btn-link text-decoration-none btn-lg waves-effect">
          <mat-icon>call</mat-icon>
        </button>
        <button mat-icon-button  class="btn btn-link text-decoration-none btn-lg waves-effect">
          <mat-icon>video_call</mat-icon>
        </button>
       </div>
    </div>

    <div class="chat-messages">
      <div *ngFor="let message of messagesSignal" class="message" [ngClass]="{'sent': message.sent, 'received': !message.sent}">
        <p>{{ message.body }}</p>
        <span class="time">{{ message.time }}</span>
      </div>
    </div>
    <div class="chat-input-collapse chat-input-collapse1 collapse" id="chatinputmorecollapse">
      <div class="card mb-0">
          <div class="card-body py-3">
              <!-- Swiper -->
              <div class="swiper chatinput-links swiper-initialized swiper-horizontal swiper-pointer-events">
                  <div class="swiper-wrapper" id="swiper-wrapper-fa6855d7ad857648" aria-live="polite">
                      <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 7" style="width: 141px; margin-right: 30px;">
                          <div class="text-center px-2 position-relative">
                              <div>
                                  <input id="attachedfile-input" type="file" class="d-none" accept=".zip,.rar,.7zip,.pdf" multiple="">
                                  <label for="attachedfile-input" class="avatar-sm mx-auto hyperlink">
                                      <span class="avatar-title fs-18  text-primary  text-primary rounded-circle">
                                        <mat-icon> attach_file</mat-icon>
                                      </span>
                                  </label>
                              </div>
                              <h5 class="fs-11 text-uppercase mt-3 mb-0 text-body text-truncate">
                                  Attached</h5>
                          </div>
                      </div>
                      <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 7" style="width: 141px; margin-right: 30px;">
                          <div class="text-center px-2">
                              <div class="avatar-sm mx-auto">
                                  <div class="avatar-title fs-18  
text-primary  text-primary rounded-circle">
                                    <mat-icon>camera_enhance</mat-icon>
                                  </div>
                              </div>
                              <h5 class="fs-11 text-uppercase text-truncate mt-3 mb-0"><a href="#" class="text-body hyperlink " onclick="cameraPermission()">Camera</a></h5>
                          </div>
                      </div>
                      <div class="swiper-slide" role="group" aria-label="3 / 7" style="width: 141px; margin-right: 30px;">
                          <div class="text-center px-2 position-relative">
                              <div>
                                  <input id="galleryfile-input" type="file" class="d-none" accept="image/png, image/gif, image/jpeg" multiple="">
                                  <label for="galleryfile-input" class="avatar-sm mx-auto hyperlink">
                                      <span class="avatar-title fs-18 
text-primary  text-primary rounded-circle">
<i class="bi bi-images"></i>
                                      </span>
                                  </label>
                              </div>
                              <h5 class="fs-11 text-uppercase text-truncate mt-3 mb-0">Gallery
                              </h5>
                          </div>
                      </div>
                      <div class="swiper-slide" role="group" aria-label="4 / 7" style="width: 141px; margin-right: 30px;">
                          <div class="text-center px-2">
                              <div>
                                  <input id="audiofile-input" type="file" class="d-none" accept="audio/*" multiple="">
                                  <label for="audiofile-input" class="avatar-sm mx-auto hyperlink">
                                      <span class="avatar-title fs-18 
text-primary  text-primary rounded-circle">
<i class="bi bi-headphones"></i>                                      </span>
                                  </label>
                              </div>
                              <h5 class="fs-11 text-uppercase text-truncate mt-3 mb-0">Audio</h5>
                          </div>
                      </div>
                      <div class="swiper-slide" role="group" aria-label="5 / 7" style="width: 141px; margin-right: 30px;">
                          <div class="text-center px-2">
                              <div class="avatar-sm mx-auto">
                                  <div class="avatar-title fs-18 
text-primary  text-primary rounded-circle">
                                  <i class="bi bi-crosshair"></i>
                                  </div>
                              </div>

                              <h5 class="fs-11 text-uppercase text-truncate mt-3 mb-0"><a href="#" class="text-body hyperlink" onclick="getLocation()">Location</a></h5>
                          </div>
                      </div>
                      <div class="swiper-slide" role="group" aria-label="6 / 7" style="width: 141px; margin-right: 30px;">
                          <div class="text-center px-2">
                              <div class="avatar-sm mx-auto">
                                  <div class="avatar-title fs-18 
text-primary  text-primary rounded-circle">
                                <mat-icon> contacts</mat-icon>
                                  </div>
                              </div>
                              <h5 class="fs-11 text-uppercase text-truncate mt-3 mb-0"><a href="#" class="text-body hyperlink" data-bs-toggle="modal" data-bs-target=".contactModal">Contacts</a></h5>
                          </div>
                      </div>

                      <div class="swiper-slide d-block d-sm-none" role="group" aria-label="7 / 7" style="margin-right: 30px;">
                          <div class="text-center px-2">
                              <div class="avatar-sm mx-auto">
                                  <div class="avatar-title fs-18 
text-primary  text-primary rounded-circle">
                                      <i class="bx bx-microphone"></i>
                                  </div>
                              </div>
                              <h5 class="fs-11 text-uppercase text-truncate mt-3 mb-0"><a href="#" class="text-body hyperlink">Audio</a></h5>
                          </div>
                      </div>
                  </div>
              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
          </div>
      </div>
    </div>
    <div class="chat-input d-flex align-items-center">
      <!-- chat-input -->
      <div class="d-flex align-items-center">
        <div class="chat-input-links me-md-2 d-flex align-items-center">
          <div class="links-list-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" aria-label="More" data-bs-original-title="More">
            <button type="button" class="btn btn-link text-decoration-none btn-lg waves-effect collapsed" data-bs-toggle="collapse" data-bs-target="#chatinputmorecollapse" aria-expanded="false" aria-controls="chatinputmorecollapse" fdprocessedid="vylnki">
              <i class="bi bi-three-dots"></i>
            </button>
          </div>
          <div class="links-list-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" aria-label="Emoji" data-bs-original-title="Emoji">
            <button type="button" class="btn btn-link text-decoration-none btn-lg waves-effect emoji-btn" id="emoji-btn" fdprocessedid="93d4u">
              <i class="bi bi-emoji-smile"></i>
            </button>
          </div>
        </div>
      </div>
      <input placeholder="Type a message" [(ngModel)]="messageText" 
      (keydown)="onTyping()" 
      (keyup)="onStopTyping()" 
      class="full-width form-control">
      <div class="d-flex align-items-center">
        <button mat-icon-button  class="btn btn-link text-decoration-none btn-lg waves-effect">
          <mat-icon>settings_voice</mat-icon>
        </button>
        <button mat-icon-button (click)="sendMessage()" class="btn btn-link text-decoration-none btn-lg waves-effect">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>