<h3>Messages ({{ totalMessages }})</h3>
<div class="search-bar">
  <input type="text" placeholder="Search here..." />
</div>
<div class="sidebar">
   <div class="messages">
    <div class="favourites">
      <!-- <h6>FAVOURITES</h6> -->
      <div *ngFor="let user of activeUsers" class="message-item" (click)="selectUser(user)">
        <div class="avatar-container">
          <div class="avatar">{{ getInitial(user.userName) }}</div>
          <div class="status-indicator" [ngClass]="{ 'online': user.isOnline, 'offline': !user.isOnline }" ></div>
          <!--  -->
        </div>
                <div class="message-content">
          <h5>{{ user.userName }}</h5>
          <p *ngIf="user.userName === typingUser" style="color: green;"> typing...</p>
          <p *ngIf="user.userName !== typingUser" >{{ user.lastMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>