 <!-- <div class="sidemenu-navigation">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item"><i class="bi bi-person"></i></li>
    <li class="nav-item"><div class="icon active">
        <i class="bi bi-chat-left"></i>
    </div></li>
    <li class="nav-item" id="theme-toggle" (click)="toggle()">
        <i class="bi bi-moon"></i>
    </li>
    <li>
        <div class="dropdown">
            <div class="profile dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="https://themesdesign.in/chaton/layouts/assets/images/users/avatar-1.jpg" alt="Profile">
            </div>
             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">A<i class="fa fa-star icon"></i></a>
              <a class="dropdown-item" href="#">Another<i class="fa fa-cog icon"></i> </a>
              <a class="dropdown-item" href="#">F<i class="fa fa-moon icon"></i></a>
              <a class="dropdown-item" href="#">T<i class="fa fa-book icon"></i></a>
            </div>
          </div>
        
    </li>
 </ul>
</div> -->